## PID tune                              [extruder] and [heater_bed] sections
## Fine tune E steps                     [extruder] section

[include fluidd.cfg] 

[printer]
kinematics: corexz
max_velocity: 200
max_accel: 1000
max_z_velocity: 50
max_z_accel: 1000
square_corner_velocity: 4.0

[idle_timeout]
timeout: 3600

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_32FFD8055646363337661643-if00

[static_digital_output usb_pullup_enable]
pins: !PA14

#####################################################################
# 	X Stepper Settings
#####################################################################

######
# Motor -XM
# Endstop - X-STOP
###############
[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
rotation_distance: 40
full_steps_per_rotation: 200
microsteps: 32
endstop_pin: ^PC0
position_endstop: 250
position_min: 0
position_max: 250
homing_speed: 70
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.5
interpolate: False
stealthchop_threshold: 0

#####################################################################
#   Y Stepper Settings
#####################################################################

######
# Motor -YM
# Endstop - Y-STOP
###############
[stepper_y]
step_pin: PB10
dir_pin: PB2
enable_pin: !PB11
rotation_distance: 40
full_steps_per_rotation: 200
microsteps: 32
## Ucomment one of the following:
## Switch-based endstop for Y
endstop_pin: ^PC1 
## Sensorless endstop for Y
#endstop_pin: tmc2209_stepper_y:virtual_endstop
#homing_retract_dist: 0 # Uncomment this line too
position_endstop: 225
position_min: -25
position_max: 225
homing_speed: 70
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.5
interpolate: False
stealthchop_threshold: 0
## Uncomment if using sensorless Y homing.
#driver_SGTHRS: 120 # tune this once it's working.

#####################################################################
# 	Z Stepper Settings
#####################################################################

######
# Motor -ZAM
# Endstop - Z-STOP
###############
[stepper_z]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
rotation_distance: 40
full_steps_per_rotation: 200
microsteps: 32
endstop_pin: probe:z_virtual_endstop
position_max: 250
homing_speed: 40
position_min: -2.0

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.5
interpolate: False
stealthchop_threshold: 0

#####################################################################
#   Extruder Settings
#####################################################################

######
#Motor - EM
###############
[extruder]
# E0_STEP_PIN        PB3
# E0_DIR_PIN         PB4
# E0_ENABLE_PIN      PB1
# E0_UART_RX         PC11
# E0_UART_TX         PC10
step_pin: PB3
dir_pin: PB4
enable_pin: !PD2
# Tune per individual printer
# Default for Bondtech 5mm Bore Drive Gears
rotation_distance: 22.6789511
# Tune for extruder 
gear_ratio: 50:17
microsteps: 32
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: PC8
##  Validate the following thermistor type to make sure it is correct
##  See https://www.klipper3d.org/Config_Reference.html#common-thermistors for additional options
sensor_type: Generic 3950
sensor_pin: PA0
min_temp: 10
max_temp: 270
max_power: 1.0
min_extrude_temp: 170
#control = pid
#pid_kp = 26.213
#pid_ki = 1.304
#pid_kd = 131.721
#Set appropriate once tuning your printer
pressure_advance: .07
##	Default is 0.040, leave stock
# pressure_advance_smooth_time: 0.040
max_extrude_only_distance: 100.0

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.7
hold_current: 0.3
interpolate: False

#####################################################################
# 	Bed Heater
#####################################################################

######
# BED Connector
###############
[heater_bed]
heater_pin: PC9
##  Validate the following thermistor type to make sure it is correct
##  See https://www.klipper3d.org/Config_Reference.html#common-thermistors for additional options
sensor_type: Generic 3950
sensor_pin: PC3
min_temp: 0
max_temp: 130
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

#####################################################################
# 	Probe
#####################################################################

######
#Z Max Connector on Z(main) Board
#Inductive Probe
###############
[probe]
##      If your probe is NO instead of NC, add change pin to !z:P1.24
pin: ^PC2
x_offset: 0
y_offset: 25
#z_offset: 0
samples: 5
samples_result: median
sample_retract_dist: 7
#samples_tolerance: 0.006
samples_tolerance: 0.025
samples_tolerance_retries: 3

#####################################################################
# 	Fan Control
#####################################################################

######
# Electronics Fan
# Z-PROBE Connector
###############
[controller_fan my_controller_fan]
pin: PA1 
max_power: 1.00
kick_start_time: 0.200
heater: heater_bed

######
# Hot End Fan
# FAN1 Connector
###############
[heater_fan extruder_fan]
pin: PC7
heater: extruder
heater_temp: 50.0
##  If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 1.0

######
# Part Cooling Fan
# FAN0 Connector
###############
[fan]
pin: PC6  # "FAN0"
cycle_time: .08
##	Depending on your fan, you may need to increase this value
##	if your fan will not start. Can change cycle_time (increase)
##	if your fan is not able to slow down effectively
kick_start_time: .25

#####################################################################
#   Homing and Bed Mesh
#####################################################################
[homing_override]
axes: z
set_position_z: 0
gcode:
    G90
    G0 Z5 F500
    G28 X0 Y0
    G0 X125 Y100 F9000
    G28 Z0
    G0 Z5 F500

[bed_mesh]
speed: 150
horizontal_move_z: 10
mesh_min: 18,0
mesh_max: 233,210
probe_count: 3,3
# mesh_min: 25,25
# mesh_max: 225,185
# probe_count: 5,5
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0
# Prusa MK52 "no-probe zones" to avoid probing over magnets
# Assumes 250mm x 210 mm prusa bed per https://github.com/prusa3d/Heatbed_MK52_magnetic
# 
# NOTE: make CERTAIN your endstops are set correctly so that `G0 X0 Y0` positions the nozzle directly over the 0,0 location
# faulty_region_1_min: 0,0
# faulty_region_1_max: 15,95
# faulty_region_2_min: 130,0
# faulty_region_2_max: 145,20
# faulty_region_3_min: 195,5
# faulty_region_3_max: 232,25
# faulty_region_4_min: 118,40
# faulty_region_4_max: 133,80
# faulty_region_5_min: 235,25
# faulty_region_5_max: 250,95
# faulty_region_6_min: 25,90
# faulty_region_6_max: 40,125
# faulty_region_7_min: 55,100
# faulty_region_7_max: 95,115
# faulty_region_8_min: 155,100
# faulty_region_8_max: 195,115
# faulty_region_9_min: 208,90
# faulty_region_9_max: 225,115
# faulty_region_10_min: 235,120
# faulty_region_10_max: 250,187
# faulty_region_11_min: 115,135
# faulty_region_11_max: 135,175
# faulty_region_12_min: 0,120
# faulty_region_12_max: 15,210
# faulty_region_13_min: 105,190
# faulty_region_13_max: 120,210
# faulty_region_14_min: 180,190
# faulty_region_14_max: 215,210
# # faulty_region_15_min: 17,180
# # faulty_region_15_max: 35,210


[screws_tilt_adjust]
# SW Nylock Mod: Screw 1 uses the 6mm metallic spacer so its
# height is considered the baseline. For tilt adjust using the
# command SCREWS_TILT_CALCULATE, this has to be your Screw 1:
#
#         ******************
#         * S7    S8    S9 *
#         *                * 
#   Bed:  * S5    S1    S6 *  
#         *                *
#         * S2    S3    S4 *
#         ******************
#
# NOTE: positions are for the nozzle, sensor approx 25mm away
screw1: 128,80
screw1_name: center
screw2: 18,-25
screw2_name: front_left
screw3: 128,-25
screw3_name: front_center
screw4: 233,-25
screw4_name: front_right
screw5: 18,80
screw5_name: middle_left
screw6: 233,80
screw6_name: middle_right
screw7: 18,185
screw7_name: rear_left
screw8: 128,185
screw8_name: rear_center
screw9: 233,185
screw9_name: rear_right
horizontal_move_z: 10
speed: 50
screw_thread: CCW-M3

#####################################################################
# 	Displays
#####################################################################
## 	For the mini12864 Display, the [display] and [neopixel] must be uncommented
# mini12864 LCD Display
# connected to exp1/2
[display]
##    mini12864 LCD Display
lcd_type: uc1701
cs_pin: PB8
a0_pin: PB15
rst_pin: PB9
encoder_pins: ^PA9,^PA10
click_pin: ^!PB5
contrast: 63
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
menu_reverse_navigation: True
menu_timeout: 30 ; Return to root menu after 30s of inactivity

[neopixel fysetc_mini12864]
##	To control Neopixel RGB in mini12864 display
## Remember with these ones, you'll need to remove the connector header on the LCD for EXT1 + 2
## (it slides off) and reverse it for it to work on your SKR (1.3 and 1.4) board
pin: PA15
chain_count: 3
initial_RED: 1
initial_GREEN: 1
initial_BLUE: 1
color_order: RGB

##	Set RGB values on boot up for each Neopixel. 
##	Index 1 = display, Index 2 and 3 = Knob
[delayed_gcode setdisplayneopixel]
initial_duration: 1
gcode:
        SET_LED LED=fysetc_mini12864 RED=1 GREEN=1 BLUE=1 INDEX=1 TRANSMIT=0	# Backlit Screen colour
        SET_LED LED=fysetc_mini12864 RED=0 GREEN=0 BLUE=0.2 INDEX=2 TRANSMIT=0	# Top left Knob colour
        SET_LED LED=fysetc_mini12864 RED=0 GREEN=0 BLUE=0.2 INDEX=3				# Bottom right knob colour

#####################################################################
#   Case Lights
#####################################################################
[output_pin LIGHTS]
pin: PC12
value: 0
shutdown_value: 0

[gcode_macro lights_on]
gcode:
    SET_PIN PIN=LIGHTS VALUE=1.0

[gcode_macro lights_off]
gcode:
    SET_PIN PIN=LIGHTS VALUE=0.0


#####################################################################
# 	Macros
#####################################################################

[gcode_macro PRINT_START]
gcode:
    # Parameters
    {% set bedtemp = params.BED|default(105)|int %}
    {% set hotendtemp = params.HOTEND|default(245)|int %}
    {% set chambertemp = params.CHAMBER|default(0)|int %}

    M117 Homing...
    G28

    M117 Temperature wait...
    M190 S{bedtemp}                                                              ; set & wait for bed temp
    #TEMPERATURE_WAIT SENSOR="temperature_sensor chamber" MINIMUM={chambertemp}   ; wait for chamber temp
    M109 S{hotendtemp}                                                           ; set & wait for hotend temp
    G28 Z                    
    
    # M117 Purge nozzle ...
    # G92 E0;
    # G90
    # G0 X5 Y5 F6000
    # G0 Z0.4
    # G91
    # G1 X120 E30 F1200;
    # G1 Y1
    # G1 X-120 E30 F1200;
    # G92 E0;
    # G90
    
    G1 Z15.0 F600 ;move the nozzle 15mm above the bed
    G1 X125 Y110 F3000 ;center the nozzle over the bed
    G92 E0 ;zero the extruded length again
    G1 F9000
    M117 Printing...


[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script
gcode:
    #   Get Boundaries
    {% set max_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
    {% set max_y = printer.configfile.config["stepper_y"]["position_max"]|float %}
    {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}
    
    #   Check end position to determine safe directions to move
    {% if printer.toolhead.position.x < (max_x - 20) %}
        {% set x_safe = 20.0 %}
    {% else %}
        {% set x_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.y < (max_y - 20) %}
        {% set y_safe = 20.0 %}
    {% else %}
        {% set y_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.z < (max_z - 2) %}
        {% set z_safe = 2.0 %}
    {% else %}
        {% set z_safe = max_z - printer.toolhead.position.z %}
    {% endif %}
    
    #  Commence PRINT_END
    M400                             ; wait for buffer to clear
    G92 E0                           ; zero the extruder
    G1 E-4.0 F3600                   ; retract
    G91                              ; relative positioning
    G0 Z{z_safe} F3600               ; move nozzle up
    G0 X{x_safe} Y{y_safe} F20000    ; move nozzle to remove stringing
    
    M104 S0                          ; turn off hotend
    M140 S0                          ; turn off bed
    M106 S0                          ; turn off fan
    G90                              ; absolute positioning
    G0 X{max_x / 2} Y{max_y} F3600   ; park nozzle at rear
    M117 Finished!

[gcode_macro HEATSOAK]
gcode:
    M400                             ; wait for buffer to clear
    M117 Start Heatsoak
    G90                              ; absolute positioning
    G0 Z60 F3600                     ; move nozzle up
    G0 X125 Y125                     ; move nozzle to middle of bed
    M104 S0                          ; turn off hotend
    M190 S100                        ; wait for bed to reach 100C
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM=40
    M117 Heatsoak Complete

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 57.075
#*# pid_ki = 0.366
#*# pid_kd = 2228.081
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 27.456
#*# pid_ki = 1.849
#*# pid_kd = 101.931
#*#
#*# [probe]
#*# z_offset = 4.415
